.top-bar {
	background-color: #212a31;
}
.top-bar ul {
	background-color: #212a31;
	color: white;
}
.top-bar ul li a {
	background-color: #212a31;
	color: white;
}
.top-bar ul li a:hover {
	background-color: black !important;
}

h1 {
	color: #036BD5;
}

h2 {
	color: #036BD5;
}